.root {
  @apply bg-accent-9 text-accent-0 cursor-pointer 
    px-9 py-3 transition ease-in-out duration-150
    shadow-md text-center justify-center rounded-sm
    border-2 border-accent-9 items-center font-semibold
    tracking-wide text-lg;
  max-height: 64px;
}

.root:hover {
  @apply bg-accent-0 text-accent-9;
}

.root:focus {
  @apply shadow-outline-normal outline-none;
}

.root[data-active] {
  @apply bg-accent-6;
}

.loading {
  @apply bg-accent-1 text-accent-3 border-accent-2 cursor-not-allowed;
}

.slim {
  @apply px-4 py-2 transform-none normal-case;
}

.slide {
  @apply relative bg-accent-0 overflow-hidden z-20 after:transition-all after:ease-in-out 
  after:duration-300 after:content-[''] after:bg-accent-9 after:absolute
  after:h-full after:w-full after:top-0 after:left-0 after:-z-10;
}

.slide:hover {
  @apply after:-translate-y-full;
}

.naked {
  @apply bg-accent-0 border-none text-accent-9;
}

.disabled,
.disabled:hover {
  @apply text-accent-4 border-accent-2 bg-accent-1 cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.progress {
}
