.root {
  @apply relative flex bg-accent-0 text-accent-9 cursor-pointer tracking-wide
      shadow-md text-center justify-center rounded-xl
      border-2 border-accent-9 items-center font-medium text-2xl;
  min-height: 64px;
  input[type='checkbox'] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.check {
  @apply bg-accent-9 text-accent-0;
}
