.root {
  @apply py-20;
}

.list {
  @apply grid grid-cols-1 gap-12;
}
.circle {
  @apply h-full w-full overflow-hidden;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 0;
  left: 0;
}

.video {
  @apply w-full h-full scale-150;
}

.heading {
  @apply text-3xl font-extrabold;
}

.item {
  @apply flex items-center justify-center;
}

.title {
  @apply font-extrabold text-7xl transition duration-300 text-transparent z-10;
  font-family: 'Helvetica';
  -webkit-text-stroke: 2px var(--accent-9);
}

.title:hover {
  @apply text-accent-9 scale-105;
}

@screen md {
  .list {
    @apply grid-cols-3 gap-0;
  }
}

@screen lg {
  .root {
    @apply py-64;
  }
  .title {
    @apply text-8xl;
  }
}
