.root {
  @apply flex py-24 lg:-mt-20 justify-center items-center overflow-hidden;
}
.list {
  @apply grid grid-cols-1 mx-10 gap-20;
}
.circle {
  @apply h-full w-full overflow-hidden top-0 left-0 scale-150 fixed hidden lg:block rounded-full;
}

.bar {
  @apply mb-16 w-full mr-4 self-end h-4 bg-accent-9;
  animation: 1s extend ease-in-out;
}

.item {
  @apply flex items-center justify-center;
}

.title {
  @apply font-extrabold text-accent-9 text-7xl transition duration-300 z-10;
}

@screen lg {
  .root {
    @apply pt-56
  }
  .title {
    @apply text-8xl;
  }
  .title:hover {
    @apply text-white scale-105;
    mix-blend-mode: difference;
    -webkit-text-stroke: 2px;
  }
  .list {
    @apply grid-cols-3 gap-0;
  }
}

@keyframes extend {
  0% {
    width: 2%;
  }
  100% {
    width: 100%;
  }
}
